.container {
    width: 500px;
    margin-bottom: 10px;
}

.card-row {
    display: flex;
}
.card-col {
    flex-grow: 1;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.no-pointer {
    cursor: default;
}