<div class="container">
  <div class="card-row" *ngFor="let row of tableMatrix; let rowIndex = index">
    <div class="card-col no-pointer">{{reverseRowIndex(rowIndex - 1)}}</div>
    <div 
      class="card-col" 
      *ngFor="let colState of row; let colIndex = index" 
      (click)="toggleState(rowIndex, colIndex)">{{colState? 'On' : 'Off'}}</div>
  </div>
  <div class="card-row">
      <div class="card-col no-pointer"></div>
      <div class="card-col no-pointer" *ngFor="let index of ' '.repeat(TABLE_WIDTH).split(''); let i = index">{{i + 1}}</div>
  </div>
</div>


<form [formGroup]="formAxis" (submit)="onFormAxisSumbmit()">
  <label>
    X Axis: <input name="row" formControlName="row">
  </label>
  <label>
    Y Axis: <input name="col" formControlName="col">
  </label>
  <label>
    Off <input type="radio" value="0" name="colState" formControlName="colState">
  </label>
  <label>
    On <input type="radio" value="1" name="colState" formControlName="colState">
  </label>
  <button type="submit">Submit</button>&nbsp;
  <button type="reset" (click)="reset()">Reset</button>
</form>